/* RESPONSIVE MOBILE */
@media screen and (max-width: 576px) {
  body {
    display: flex;
    max-width: 100%;
    align-items: center;
    overflow-x: hidden;
  }

  nav .identitas.name .identitas.username p {
    display: none;
  }

  .header {
    width: 100vw;
    height: 40px;
    flex-direction: row;
    position: fixed;
    padding: 0px;
    justify-content: center;
    align-items: center;
  }

  .header .logo {
    justify-content: flex-start;
    margin-left: 15px;
    margin-top: 1px;
    margin-bottom: 3px;
  }

  .header .logo h1 {
    font-size: 20px;
    margin-left: 6px;
  }

  .header .logo img {
    width: 31px;
  }

  .header nav {
    width: 100vw;
    justify-content: flex-end;
    align-items: center;
  }

  nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 30px;
    margin-right: 25px;
  }

  nav .identitas.image input {
    opacity: 0;
    cursor: pointer;
    top: 0px;
    right: 6px;
    height: 29px;
    width: 38px;
    position: absolute;
    z-index: 35;
  }

  nav .identitas.name {
    display: none;
    width: 50px;
  }

  nav .identitas.name .identitas.username p {
    font-size: 14px;
    margin-left: 6px;
    outline: solid 1px rgba(0, 0, 0, 0.0);
  }

  nav .identitas.image {
    width: 53px;
    height: 28px;
  }

  nav .identitas.image.outline {
    outline: solid 3px rgba(15, 111, 197, 0.8);
  }

  nav .identitas.image .button.panah img {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    cursor: default;
  }

  nav .identitas.image .button.profil img {
    width: 32px;
    height: 32px;
    margin-right: 1px;
    align-items: center;
    cursor: default;
    justify-content: center;
  }

    .header .kotak {
    position: absolute;
    z-index: -1;
    background-color: #b0c4de;
    width: 300px;
    height: 43px;
    margin-bottom: 10px;
    right: 15px;
  }

  nav .menu-items {
    z-index: -3;
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 213px;
    position: absolute;
    margin-right: 3px;
    background-color: white;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid rgba(0, 0, 0, .3);
    box-sizing: border-box;
    cursor: default;
    transition: all 0.4s;
    opacity: 0;
    margin-top: -200px;
  }

  nav .identitas.image .menu-items.toggle {
    z-index: -3;
    opacity: 1;
    margin-top: 245px;
  }

  nav .identitas.image .menu-items .home a {
    font-size: 11px;
    width: 156px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 45px;
  }

  nav .identitas.image .menu-items .home img {
    width: 15px;
    height: 15px;
    top: 5px;
    left: 15px;
  }

  nav .identitas.image .menu-items .product a {
    font-size: 11px;
    width: 156px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 45px;
  }

  nav .identitas.image .menu-items .product img {
    width: 15px;
    height: 15px;
    top: 5px;
    left: 15px;
  }

  nav .identitas.image .menu-items .promotion a {
    font-size: 11px;
    width: 156px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 45px;
  }

  nav .identitas.image .menu-items .promotion img {
    width: 15px;
    height: 15px;
    top: 5px;
    left: 15px;
  }

  nav .identitas.image .menu-items .bag a {
    font-size: 11px;
    width: 156px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 45px;
  }

  nav .identitas.image .menu-items .bag img {
    width: 15px;
    height: 15px;
    top: 5px;
    left: 15px;
  }

  nav .identitas.image .menu-items .testimoni a {
    font-size: 11px;
    width: 156px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 45px;
  }

  nav .identitas.image .menu-items .testimoni img {
    width: 15px;
    height: 15px;
    top: 5px;
    left: 15px;
  }

  nav .identitas.image .menu-items .contact a {
    font-size: 11px;
    width: 156px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 45px;
  }

  nav .identitas.image .menu-items .contact img {
    width: 15px;
    height: 15px;
    top: 5px;
    left: 15px;
  }

  nav .identitas.image .menu-items .logout a {
    font-size: 11px;
    width: 156px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 45px;
  }

  nav .identitas.image .menu-items .logout img {
    width: 15px;
    height: 15px;
    top: 5px;
    left: 15px;
  }

  /*END NAVBAR*/


  .btn {
  font-size: 6px;
  display: inline-block;
  background: #4772aa;
  color: #fff;
  padding: 4px 13px;
  margin: 8px 0;
  border-radius: 30px;
  transition: background 0.2s, transform 0.2s;
  width: 70px;
  text-align: center;
}

  /* MAIN */
  #main {
    width: 100vw;
    height: auto;
    margin-top: 100px;
    justify-content: center;
  }

  #main .row {
    width: 100vw;
    justify-content: center;
  }

  #main .row .col-2 {
    justify-content: flex-end;
  }

  #main .row .col-2 img {
    width: 330px;
    /*order: 1;
    margin-left: 98px;*/
  }

  .col-1 {
    width: 100%;
    padding: 10px;
    /*order: 2;*/
  }

  #main .row .col-1 h1 {
    font-size: 14px;
    margin-left: 5px;
  }

  #main .row .col-1 p {
    font-size: 6px;
  }

  /* END MAIN */


  /* CATEGORIES SECTION */
  .categories {
    margin-bottom: 0;
    justify-content: center;
  }

  .categories .title {
    justify-content: center;
  }
  .categories .title h1 {
    font-size: 80%;
  }

  .image-container.row {
    display: grid;
    grid-template-areas:
      "a b";
    justify-content: center;
    margin-left: -15px;
  }

  .image-content.col-3 img {
    justify-content: center;
    width: 180px;
    height: 130px;
    border-radius: 5px;
    margin-left: 15px;
  }

  .title {
    text-align: center;
    margin-bottom: 0 auto 80px;
    position: relative;
    line-height: 33px;
    color: #555;
    margin-bottom: 15px;
  }

  .title::after {
    content: "";
    background: #ff523b;
    width: 30px;
    height: 3px;
    border-radius: 3px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }


  /*END UNIFORM SECTION */


  /* FIND US SECTION */


  #brands .title h1 {
    font-size: 80%;
  }

  .small-container {
    max-width: 500px;
  }

  .col-5 {
    width: 130px;
    justify-content: center;
    align-items: center;
  }

  .col-5 img {
    justify-content: center;
    width: 40px;
    cursor: pointer;
  }

  /*END FIND US*/

  /*FOOTER*/

  #footer .row .footer-col-1 img {
    width: 80px;
  }

  #footer .row .footer-col-1 p {
    font-size: 12px;
  }

  #footer h3 {
    margin-bottom: 10px;
  }

  .footer-col-2 h3,
  .footer-col-3 h3 {
    font-size: 14px;
  }

  .footer-col-2 p,
  .footer-col-3 p {
    font-size: 12px;
  }

  .form-group {
    margin: 10px 0;
  }

  .form-group input,
  .form-group textarea {
    padding: 5px;
    width: 130px;
    font-family: "Poppins", sans-serif;
    font-size: 7px;
  }

  .footer-col-3 a {
    display: inline-block;
    font-size: 12px;
  }

  .row .copyright {
    padding-top: 5px;
    padding-bottom: 3px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    background-color: rgba(48, 78, 116, 1.0);
    color: white;
  }
}